*{
    margin: 0;
    padding: 0;
}
#box{
    width: 100%;
    #head{
        height: 173px;
        width: 100%;
        #headtop{
            height: 30px;
            border-top:1px solid #B6B4B6;
            border-bottom:1px solid #B6B4B6;
            background:#000000;
            #head_top{
                width: 1096px;
                height: 30px;
                #head_top_left{
                    float:left;
                    width: 411px;
                    margin-right: 55px;
                    span{
                        display:inline-block;
                        width: 130px;
                        color:#999999;
                        font-size:12px;
                        line-height:30px ;
                        text-align:center;
                    }
                    a{  
                        display:inline-block;
                        width: 60px;
                        text-decoration:none; 
                        color:#999999;
                        font-size:12px;
                        line-height:30px ;
                        text-align:center;
                    .img{display:none;}

                    }
                    .tuichubtn{
                        display:none;
                    }
                    a:hover{
                        color:#FFFFFF;
                    }
                    a:nth-child(5){
                        position:relative;
                    }
                    a:nth-child(5) img{
                        position:absolute;
                        left:-30px;
                        top:37px;
                        display:none;
                    }
                    a:nth-child(5):hover img{
                        display:block;
                    }
                    
                }
                #head_top_right{
                    float:left;
                    width: 630px;
                    a{
                        display:inline-block;
                        width: 84px;
                        height: 30px;
                        text-decoration:none; 
                        color:#999999;
                        font-size:12px;
                        line-height:30px ;
                        text-align:center;
                        span{
                            display:inline-block;
                         
                            text-align:right;
                            span{
                                 display:inline-block;
                                border-width:4px 4px 0; 
                                border-style:solid;
                                border-color:#999999 transparent transparent transparent;
                            }                  
                        }
                        span:nth-child(1):hover{
                            color:#FF1E32;
                            span{
                                border-width:4px 4px 0; 
                                border-style:solid;
                                border-color:#FF1E32 transparent transparent  transparent;
                            }
                        }
                    }
                    .head_top_right2{
                        position:relative;
                        ul{
                            width: 110px;  
                            border:1px solid #E8E8EA;
                            border-top:1px solid #fff;
                            padding-left: 14px;
                            padding-right: 15px;
                            position:absolute;
                            left:-1px;
                            top:30px;
                            display:none;
                            background:#fff;
                            z-index:99999;
                            li{
                                height: 30px; 
                                list-style:none;
                                line-height:30px;
                                font-size:12px;
                                color:#666666;
                                text-align:left;
                            }
                        }
                    }
                    .head_top_right2{
                        .xul{
                            li:nth-child(1){
                                i{  
                                    display:inline-block;
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 4px;
                                    background:url(../img/xxxxx1.png) no-repeat;
                                }
                            }
                            li:nth-child(2){
                                i{  
                                    display:inline-block;
                                    width: 14px;
                                    height: 14px;
                                    margin-right: 4px;
                                    background:url(../img/xxxxx2.png) no-repeat;
                                }
                            }
                        }
                    }
                    .head_top_right1:hover{
                        color:#FFFFFF;
                    }
                    .head_top_right2:hover{
                        width: 82px;
                        background:#fff;
                        border-bottom:1px solid #fff;
                        border-left:1px solid #E8E8EA;
                        border-right:1px solid #E8E8EA;
                        ul{
                            display:block;
                            li:hover{
                                color:#FF1E32;
                            }
                        }
                    }

                }
            }
        }
        #headcenter{
            height: 100px;
            background:#fff;
            #head_center{
                width: 1096px;
                height:80px;
                // border-bottom:1px solid #aa1;
                padding-top: 20px;
                .head_center3{
                    width: 210px;
                    height: 64px;
                    //
                    float:left;
                    a{
                        display:block;
                        width: 210px;
                        height: 64px;
                        background:url(../img/shouyetu2.png) no-repeat 0 0;
                    } 
                }
                .head_center1{
                    margin-left: 132px;
                    width: 514px;
                    height: 60px;
                    float:left;
                    margin-top:4px;
                    .sousuo{
                        width: 512px;
                        height: 36px;
                        border:2px solid #FF2337;
                        border-right:0 none;
                        border-radius:20px;
                        .zuo{
                            width: 450px;
                            height: 36px;
                            float:left;
                            .button1{
                                width: 30px;
                                height:36px;
                                background:url(../img/shouyetu3.png) no-repeat 10px 12px;
                            }
                            .search{
                                width: 410px;
                                height: 36px;
                                font-size:14px;
                                line-height:36px; 
                            }
                        }
                        .back{
                            display:inline-block;
                            width:62px;
                            height:36px;
                            background: #ff2337;
                            background-image: linear-gradient(270deg,#ff2e64,#ff0003);
                            border-radius:20px;
                            position:relative;
                            cursor: pointer; 
                            span{
                                display:block;
                                width: 22px;
                                height: 18px;
                                background:url(../img/shouye4.png) no-repeat 50%;
                                position:absolute;
                                left:50%;
                                top:50%;
                                transform:translate(-50%, -50%);
                            }
                        }
                    }
                    #zhonglei{
                        width: 510px;
                        height: 20px;
                        ul{
                            width: 480px;
                            height: 20px;
                            padding-left: 30px;
                            li{
                                float:left;
                                width: 60px;
                                height: 20px;
                                a{
                                    font-size:12px;
                                    color:#999999;
                                    cursor:pointer;
                                }
                                a:hover{
                                    text-decoration:underline;
                                }
                            }
                            li:nth-child(4){
                                width: 90px;
                                a{
                                    color:#FF1E32;
                                }
                            }
                        }
                    }
                }
                .head_center2{
                    display:block;
                    float:left;
                    width: 106px;
                    height:36px;
                    margin-left:50px;
                    margin-top: 4px;
                    border:2px solid #FF2337;
                    border-radius:20px;
                    position:relative;
                    i{
                        display:inline-block;
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                        margin-top: 8px;
                        background:url(../img/shouyetu5.png) no-repeat 0 0;
                    }
                    .shopping{
                        display:inline-block;
                        width: 66px;
                        height: 36px;
                        margin-left: 8px;
                        font-size:12px;
                        font-weight:900;
                        line-height:36px;
                        position:absolute;
                        top:0px;
                        cursor:pointer;
                        .num{
                            display:inline-block;
                            width: 20px;
                            height: 20px;
                            background:#FF1E32;
                            position:absolute;
                            left:38px;
                            top:25%;
                            border-radius:50%;
                            color:#fff;
                            font-size:10px;
                            line-height:20px;
                            text-align:center;
                        }
                    }
                }
            }
        }
        #headbottom{
            height: 40px;
            #head_bottom{
                height: 40px;
                width: 1096px;
                position:relative;
                .head_bottom1{
                    width: 164px;
                    height: 40px;
                    background: #ff2337;
                    background-image: linear-gradient(270deg,#ff2e64,#ff0003);
                    cursor:pointer;
                    float:left;
                    position:relative;
                    .topleft{
                        width: 164px;
                        height:27px;
                        padding-top: 13px; 
                        border-bottom:1px solid #FF5160;
                        .line{
                            width: 15px;
                            height: 12px;
                            margin-left: 15px;
                            float:left;
                            i{
                                display:block;
                                width: 15px;
                                height: 0;
                                border-top:2px solid #DDDDDD;
                                margin-bottom: 3px;
                            }
                        }
                        span{
                            display:block;
                            float:left;
                            width: 66px;
                            height:16px;
                            margin-left: 23px;
                            color:#FFFFFF;
                            text-align:left;
                            font-size:16px;
                        }
                    }
                    #rich{
                        width: 164px;
                        z-index:1;
                        position:absolute;
                        left:0;
                        top:41px;
                        background: #ff2337;
                        background-image: linear-gradient(270deg,#ff2e64,#ff0003);
                        display:none;
                        li{
                            height: 32px;
                            width: 164px;
                            margin-left: 3px;
                            border-bottom:1px solid #FF5160;
                            padding-top: 12px;
                            img{
                                margin-left: 12px;
                                width: 20px;
                                height: 20px;
                            }
                            span{
                                display:inline-block;
                                width:50px;
                                height: 30px;
                                line-height:30px;
                                margin-left: 20px;
                               font-size:12px;
                               color:#fff;
                               text-align:left;
                                margin-right: 20px;
                            }
                            i{
                                display:inline-block;
                                width: 10px;
                                height: 10px;
                                background:url(../img/x3.png) no-repeat;  
                            }
                            .ziti{
                                color:#FF1E32;
                            }
                            .xuanxiangbox{
                                height: 314px;
                                width: 900px;
                                border:1px solid #FF1A33;
                                border-left:none;
                                position:absolute;
                                left:164px;
                                top:-1px;
                                background:#fff;
                                display:none;
                                .xuanxiangleft{
                                    width: 636px;
                                    height: 314px;
                                    float:left;
                                    padding-left: 14px;
                                    padding-right: 14px;
                                    .xuanxiangbox1{
                                        width: 318px;
                                        height: 157px;
                                        float:left;
                                        h3{
                                            height: 34px;
                                            font-size:14px;
                                            font-weight:900;
                                            border-bottom:1px solid #EAEAEA;
                                            line-height:34px;
                                        }
                                        div{
                                            width: 318px;
                                            height: 283px;
                                            padding-top:20px;
                                            a{
                                                display:inline-block;
                                                height: 14px;
                                                padding-left: 8px;
                                                padding-right: 8px;
                                                font-size:14px;
                                                margin-bottom: 20px;
                                                color:#EAEAEA;
                                            }
                                            a:hover{
                                                text-decoration:underline;
                                            }
                                        }
                                    }
                                }
                                .xuanxiangright{
                                    width: 236px;
                                    float:left;
                                    height: 314px;
                                    a{
                                        display:block;
                                        width: 236px;
                                        height: 314px;
                                        img{
                                            width: 236px;
                                            height: 314px;
                                            margin-left: 0px;
                                        }
                                    }
                                }
                            }
                        }
                        li:nth-child(1) img{
                            background:url(../img/xiala11.png) no-repeat;
                        }
                        li:nth-child(2) img{
                            background:url(../img/xiala22.png) no-repeat;
                        }
                        li:nth-child(3) img{
                            background:url(../img/xiala33.png) no-repeat;
                        }
                        li:nth-child(4) img{
                            background:url(../img/xiala44.png) no-repeat;
                        }
                        li:nth-child(5) img{
                            background:url(../img/xiala55.png) no-repeat;
                        }
                        li:nth-child(6) img{
                            background:url(../img/xiala66.png) no-repeat;
                        }
                        li:nth-child(7) img{
                            background:url(../img/xiala77.png) no-repeat;
                        }
                    } 
                    
                }
                .head_bottom2{
                    width: 932px;
                    height: 40px;
                    float:left;
                    li{
                        margin-left: 42px;
                        height: 40px;
                        float:left;
                        a{
                            font-size:14px;
                            height: 40px;
                            font-weight:900;
                            line-height:40px;
                            color:#333333;
                        }
                        a:hover{
                            color:#FF1E32;
                        }
                    }
                }

            }
        }   
    }
    #zhongjian{
        width: 100%;
        height: 100%;
        border-top:1px solid #aaa;
        margin-top: -1px;
        .zhongjian{
            margin: 0 auto;
            width: 1092px;
            height: 100%;
            background:#FFFFFF;
            padding-top: 25px;
            .wupinxiangqing{
                width: 1092px;
                height: 533px;
                border-top:1px solid #DDDDDD;
                padding-top: 42px; 
                margin-bottom: 10px;              
                #wupin_img{
                    width: 402px;
                    height:494px;
                    float:left;
                    margin-right: 10px;
                    position:relative;
                   .MagnifierMain{
                        width: 400px;
                        height: 400px;
                        position:relative;
                        border:1px solid #EEEEEE;
                    img{
                         width:100%;
                        }  
                    }
                    .MagnifierDrag {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #ccc;
                            opacity: 0.4;
                            filter: alpha(opacity=40);
                            cursor: move;
                        }
                    .MagnifierPop {
                            position: absolute;
                            top: 0;
                            overflow: hidden;
                            background: #fff url(http://fan.yoka.com/fan5.0/img/loading.gif) no-repeat center center;
                        }
                    .MagnifierImg {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
            
                    .spec-items {
                            position: relative;
                            width: 292px;
                            height: 69px;
                            overflow: hidden;
                            padding-top: 10px;
                            margin: 0 auto;
                        ul {
                            width: 500%;
                            position: absolute;
                            top: 10px;
                            left: 0;
                        li {
                            width: 65px;
                            height: 65px;
                            float: left;
                            overflow: hidden;
                            margin-right: 5px;
                            border: 2px solid #fff;
                            cursor: pointer;
                        img {
                            width: 100%;
                        }


                        }
                        li.on {
                                border: 2px solid #000;
                            }



                        }
                        ul * {
                            -webkit-transition: all .3s;
                            -o-transition: all .3s;
                            transition: all .3s;
                        }



                        }
            span.spe_leftBtn,
            span.spe_rightBtn {
                position: absolute;
                bottom: 0px;
                display: block;
                width: 20px;
                height: 69px;
                line-height: 69px;
                font-family: "黑体";
                text-align: center;
                font-size: 30px;
                color: #ddd;
                cursor: default;
                background-color:red;
            }
            span.on {
                    background-color: #ccc;
                    color: #999;
                    cursor: pointer;
                }
            span.spe_leftBtn {
                        left: 0;
                    }
            span.spe_rightBtn {
                        right: 0;
                    }


                }
    .wupin_xinxi{
                    width: 660px;
                    height:420px;
                    padding-left:58px;
                    border-bottom:1px dotted #CCCCCC;
                    float:right;
                    box-sizing:border-box;
                    padding-top: 38px;
                    .wupin_xinxiname{
                        height: 52px;
                        width: 660px;
                        .auto-id-1543318986353{
                            display:block;
                            line-height:26px;
                            font-size:18px;
                            color:#333333;
                            font-weight:900;
                        }
                    }
                .wupin_xinxi_b{
                    width: 660px;
                    height:200px;
                   
                    .tianjia{width: 110px;
                            height:36px;
                            text-align:center;
                            line-height:36px;
                            color:#fff;
                            background: red;
                            border-radius:22px;
                    }
                    .shuliang{width: 70px;
                        height:20px;
                        border:1px solid #000;
                    }
                }


                }
            }
           
        }
    }
    #foot{
        width: 100%;
        height: 463px;
        background:#FFFFFF;
        border-top:1px solid #EAEAEA;
        .foottop{
            width: 100%;
            height: 410px;
            .foottop1{
                width: 1100px;
                height: 146px;
                margin: 0 auto;
                border-bottom:1px solid #EAEAEA;
            }
            .foottop2{
                width: 1100px;
                height: 218px;
                margin: 0 auto;
                background:url(../img/liebiaoyetu8.png) no-repeat 0 45px;
                padding-top: 45px;
                .foottop2left{
                    width: 220px;
                    height: 218px;
                    float:left;
                    margin-right: 57px;
                    .focuson{
                        width: 220px;
                        height: 35px;
                        margin-top: 61px;
                        line-height:35px;
                        span{
                            margin-right: 10px
                        }
                        a{
                            display:inline-block;
                            width: 32px;
                            height: 35px;
                            margin-right: 10px;
                            position:relative;
                            .erweima{
                                position:absolute;
                                left:-50px;
                                top:36px;
                                display:none;
                            }
                        }
                        a:hover .erweima{
                            display:block;
                        }
                    }
                }
                .foottop2center{
                    width: 650px;
                    height: 218px;
                    float:left;
                    dl{
                        float:left;
                        width: 130px;
                        dt{
                            font-size:18px;
                            color:#333333;
                            margin-bottom: 22px;
                        }
                        dd{
                            font-size:12px;
                            margin-bottom: 17px;
                            a{
                                color:#333333;
                                font-size:12px;
                            }
                            a:hover{
                                text-decoration:underline;
                            }
                        }
                    }
                }
                .foottop2right{
                    width: 108px;
                    height: 218px;
                    float:left;
                    img{
                        width: 108px;
                        height: 108px;
                    }
                    p{
                        width: 108px;
                        height: 28px;
                        font-size:10px;
                        line-height:28px;
                        text-align:center;
                        color:#000;
                    }
                }
            }
        }
        .footbottom{
            width: 100%;
            height: 128px;
            background:#333333;
            padding-top: 26px;
            p{
                font-size:14px;
                color:#C2C2C2;
                text-align:center;  
                height: 14px;
                margin-bottom: 14px; 
                a{
                    text-decoration:none;
                    font-size:14px;
                    color:#C2C2C2;
                }
                a:hover{
                    text-decoration:underline;
                }
                i{
                    display:inline-block;
                    width: 20px;
                    height: 20px;
                    background:url(../img/zhuceyetu3.png) no-repeat;
                    margin-right:8px;
                }
            }
        }
    }
    .wuming{
        width: 102px;
        position:fixed;
        left:1270px;
        top:80%;
        // display:none;
        .liangge{
            width: 100px;
            border:1px solid #000;
            border-bottom:0 none;
          

            li{
                width: 100px;
                height: 26px;
                border-bottom:1px solid #000;
                background:#fff;
                text-align:center;

                a{
                    color:red;
                    font-size:12px;

                }
            }
        }
    }
}